@font-face {
    font-family: 'Aller';
    src: url('../../fonts/aller_lt-webfont.eot');
    src: url('../../fonts/aller_lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/aller_lt-webfont.woff') format('woff'),
         url('../../fonts/aller_lt-webfont.ttf') format('truetype'),
         url('../../fonts/aller_lt-webfont.svg#AllerLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Aller';
    src: url('../../fonts/aller_ltit-webfont.eot');
    src: url('../../fonts/aller_ltit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/aller_ltit-webfont.woff') format('woff'),
         url('../../fonts/aller_ltit-webfont.ttf') format('truetype'),
         url('../../fonts/aller_ltit-webfont.svg#AllerLightItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Aller';
    src: url('../../fonts/aller_rg-webfont.eot');
    src: url('../../fonts/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/aller_rg-webfont.woff') format('woff'),
         url('../../fonts/aller_rg-webfont.ttf') format('truetype'),
         url('../../fonts/aller_rg-webfont.svg#AllerRegular') format('svg');
    font-weight: bold;
    font-style: normal;
}

html, body{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Aller';
	background-color: #eee;
	color: #333;
}
#content{
	margin: 0 auto;
	width: 940px;
	padding: 20px;
	overflow: auto;
	background-color: #fff;
}
header{
	margin: 0 0 15px 0;
}
header a{
	display: inline-block;
	margin: 0 5px 0 1px;
	font-size: 90%;
	padding: 3px 15px;
	-webkit-border-radius: 5px 0;
	-moz-border-radius:    5px 0;
	border-radius:         5px 0;
	border: solid 1px #fff;
	background: -webkit-linear-gradient(-90deg, #ddd 5%, #eee 95%);
	background:    -moz-linear-gradient(-90deg, #ddd 5%, #eee 95%);
	background:         linear-gradient(-90deg, #ddd 5%, #eee 95%);
	-webkit-box-shadow: 1px 1px 0 #bbb, -1px -1px 0 #bbb;
	-moz-box-shadow:    1px 1px 0 #bbb, -1px -1px 0 #bbb;
	box-shadow:         1px 1px 0 #bbb, -1px -1px 0 #bbb;
	color: #444;
	text-decoration: none;
	text-shadow: 1px 1px 0 #fff;
}
header a:hover{
	background: -webkit-linear-gradient(-90deg, #ccc 5%, #eee 95%);
	background:    -moz-linear-gradient(-90deg, #ccc 5%, #eee 95%);
	background:         linear-gradient(-90deg, #ccc 5%, #eee 95%);
}
#lcol, #rcol{
	position: relative;
	border: solid 1px #aaa;
	height: 550px;
	overflow-y: scroll;
}
#lcol{
	float: left;
	width: 585px;
}
#rcol{
	float: right;
	width: 330px;
}
#lcol .post{
	display: block;
	padding: 5px 10px 7px;
	color: #333;
	text-shadow: 1px 1px 0 #fff;
}
#lcol .post:nth-of-type(even){
	background-color: #eee;
}
#lcol a{
	color: #333;
	text-shadow: 1px 1px 0 #fff;
	text-decoration: none;
	margin-right: 25px;
}
#lcol a:hover{
	text-decoration: underline;
}
#lcol .saved{
	background-color: #fdd !important;
	border-bottom: solid 1px #ecc;
}

#rcol>div{
	padding: 5px 10px;
	border-bottom: solid 1px #eee;
	overflow: auto;
}
#rcol>div:nth-of-type(even){
	background-color: #eee;
}
#rcol>div strong{
	text-overflow: ellipsis;
	margin: 0 25px 0 0;
}
#rcol>div p{
	margin: 0 25px 0 0;
	font-size: 90%;
}

.approve, .delete, .preview{
	float: right;
	clear: right;
	width: 20px;
	height: 20px;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius:    5px;
	border-radius:         5px;
	border: solid 1px #fff;
	background: -webkit-linear-gradient(-90deg, #ddd 5%, #eee 95%);
	background:    -moz-linear-gradient(-90deg, #ddd 5%, #eee 95%);
	background:         linear-gradient(-90deg, #ddd 5%, #eee 95%);
	-webkit-box-shadow: 0 0 2px #222;
	-moz-box-shadow:    0 0 2px #222;
	box-shadow:         0 0 2px #222;
	text-shadow: 1px 1px 0 #fff;
	cursor: pointer;
}
.approve:hover, .delete:hover, .preview:hover{
	background: -webkit-linear-gradient(-90deg, #ccc 5%, #eee 95%);
	background:    -moz-linear-gradient(-90deg, #ccc 5%, #eee 95%);
	background:         linear-gradient(-90deg, #ccc 5%, #eee 95%);
}
#lcol .preview{
	clear: none;
	margin: 0 10px 0 0;
	font-size: 85%;
	line-height: 20px;
}
#lcol .preview:hover{
	text-decoration: none;
}
.approve{
	margin: 0 0 10px 0;
}
.approve:hover{
	color: #393;
}
.delete{
	font-weight: bold;
}
.delete:hover{
	color: #933;
}
[contenteditable]:focus{
	outline: none;
}